body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/*Opmaak voor het hele donatiegedeelte*/
main {
  clear: both;
  background-color: rgba(255, 194, 211, 0.1);
  width: 90%;
  margin: auto;
  margin-top: 70px;
  padding: 5%;
  border-radius: 5px;
}
h1, h2 {
  font-size: 24px;
}
h2 {
  font-weight: normal;
}
p {
  font-size: 14px;
}
/*De indeling voor de foto, naam en beschrijving van het profiel*/
#headerProfiel {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Zet de items onder elkaar als het scherm kleiner dan 800px is*/
@media (max-width: 800px) {
  #headerProfiel {
    flex-direction: column;
  }
}
/*Alles voor de profielfoto, maakt het passend*/
img {
  max-height: 400px;
  min-height: 300px;
  max-width: 400px;
  min-width: 300px;
  object-fit: cover;
  margin: auto;
}
/*Laat ruimte over tussen de tekst en de foto*/
#informatieProfiel {
  margin-left: 3%;
}
/*De minimale en maximale grootte voor de tekst*/
#introProfiel {
  max-width: 675px;
  min-width: 250px;
}
/*De opmaak voor de buttons*/
button {
  width: 145px;
  height: 42px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #DB2734;
  border: 0px;
  border-radius: 5px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 30px;
}
/*Centreert de knoppen*/
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Centreert de tekst "Donaties"*/
#kopDonaties {
  text-align: center;
}
/*De opmaak per donatiegedeelte*/
.donatieAan {
  margin: auto;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  border-bottom: 2px #F7AEC0 solid;
}

/*Deze twee centreren de tekst verticaal en worden recht neergezet*/
.berichtDonatie {
  margin-top: 50px;
  padding-left: 5%;
}
.bedragDonatie {
  margin-top: 45px;
  text-align: right;
}
