body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
main {
  clear: both;
  background-color: rgba(255, 194, 211, 0.1);
}
h1, h2 {
  font-size: 24px;
}
h2 {
  font-weight: normal;
}
p {
  font-size: 14px;
}
img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  float: left;
  margin-left: 200px;
}
#naamProfiel {
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}
#introProfiel {
  float: left;
}
button {
  width: 145px;
  height: 42px;
  color: white;
  background-color: #DB2734;
  border: 0px;
  border-radius: 5px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
}
