
.donatieleft{
  width:60vw;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donatieright{
  width:38vw;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-buttonwrap{
  width:60%;
}
.donatietextfield{
  width: 100%;
}
.donatiebuttons{
  width: 100%;
}
