/* font sizes */
h1{
  font-size: 1.6vw;
}
p{
  font-size: 1vw;
}

/* doneer card */
.doneercardwrap{
  display: flex;
  justify-content: center;
}
.doneercard{
  width:35vw;
  height: 52vh;
}
.doneercardcontent{
  padding:20px;
  display: flex;
  flex-direction:column;
}
.doneerform{
  display: flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.verderbuttoncolor{
  color:white;
}
.geldbuttoncolor{
  color:black;
}
.verderbutton{
  width:40%;
  margin-left:60%!important;
}
.geldbutton{
  width: 5vw;
}
.doneertextfield{
  width:30vw;
  margin-top: 0.5vh!important;
  margin-bottom: 0.5vh!important;
}
