html{
  font-family: sans-serif;
  color:black;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  text-align: center;
}
.header li a {
  color:black;
  font-weight:normal;
  text-decoration: none;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top:1vh;
  display: inline-block;
  padding-left:1vw;
  padding-right:1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size:1.6vw;
}
.active {
  border-bottom-style:solid;
  border-bottom-width:thin;
}
